<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <link rel="icon" type="image/x-icon" href="../static/newFolder/favicon.ico">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/newFolder/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="app.js"></script>

</head>

<body>

<nav class="navbar navbar-light" id="navBarColor">
    <div id="navBarLogo">
        <a href="/AdminLogin">Admin Login</a>
        <img src="/newFolder/logoWithNameWhite.png" width="20%" height="20%" alt="logo">
    </div>
</nav>

    <div class="container-fluid">

<button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Emergency</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ALERT!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div> You will now open up a chat directly with the police. </div>
                <div>Do you want to continue? </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="/chat">    <button type="button" class="btn btn-primary">Start livechat</button></a>
            </div>
        </div>
    </div>
</div>
        <div class="logo-main-container">
            <img class="logo-main-container" src="/newFolder/nameAndLogo2.png" alt="logo">
        </div>


        <div class="custom-control custom-switch mx-auto">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
        </div>

        <div id="buttonDiv">
            <a href="/ChooseCategory">
            <button id= "btn"  class="btn btn-secondary btn-lg btn-block" style="background-color: #434343e3">Leave a
                tip</button> </a>
        </div>



        <div class="card-footer text-muted mx-auto">
            <a href="#">Terms & Conditions</a>
        </div>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>