<!DOCTYPE html>
<html>

<head>
    <title>Navigator</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    
</head>

<body class="home">


    <div class="header">
        <div id="logodiv">
<img id="logo" src="C:\Users\Miriam Haile\Desktop\logo.png" alt="logo">      
    </div>
</div>

  <div>
      <button id="emergencyBtn">EMERGENCY</button>
  </div>

</body>

</html>