<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p> this is objectform</p>
<form method="post" action="/send">
    <select id="crime" name="crime">
        <option value="assault">assault</option>
        <option value="theft">theft</option>
        <option value="harassment">harassment</option>
        <option value="something">something something</option>
    </select>
    <input type="submit">
</form>
</body>
</html>